html, body{
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Questrial', sans-serif;
}

nav{
  padding: 20px;
  position: fixed;
  /*background-color: #7abeff;*/
}

nav a{
  text-decoration: none;
  margin-left: 10px;
  font-size: 20px;
  color: red;
}

nav a:hover{
  color: gray; /* change later */
}

h1{
  font-size: 60px;
  text-align: center;
  color: black;
}

.about, .skills, .projects{
  margin: 2% 2%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.index, .about div{
  height: 100%;
  margin: 0px;
}

.index{
  background-image: url(images/me3.jpg);
  background-size: cover;
  background-position: bottom;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.name{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 140px;
}

/* name on index div */
#name{
  text-decoration: none;
  font-size: 80px;
  margin: 0;
  color: white;
}

.picture{
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.picture img{
  width: 90%;
}

.text{
  width: 49%;
  display: inline-block;
}

.text p{
  text-align: left;
}

.text li{
  margin-bottom: 10px;
}

.text a{
  color: rgb(62, 178, 228);
  text-decoration: none;
}

.text a:hover{
  color: gray;
}

.text_header p{
  font-size: 25px;
  margin-bottom: 10px;
}

.skills p{
  text-align: center;
  margin-bottom: 0px;
}

/* projects */
.projects{
  margin: 20px;
}

.projects .buttons{
  display: flex;
  justify-content: center;
  /*margin: 0 auto; */
}

.projects a{
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 1px;
}

.projects a:hover{
  background-color: #eaf3fc;
}

#github_link{
  border:none;
  color: rgb(62, 178, 228);
  padding: 0px;
  margin: 0px;
}

#github_link:hover{
    color: gray;
    background-color: white; 
}

.projects h2, p{
  text-align: center;
}

.picture2 img{
  width: 90%;
  display: block;
  margin: 0 auto;
}

.bigredgifts, .ihs, .portfolio, .apple, .c3website{
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 20px;
}

.c3website{
  background-color: #e8e0fa;
}

.bigredgifts{
  background-color: #ffe0e0;
}

.ihs{
  background-color: #FCFECD;
}

.portfolio{
  background-color: #d4eaff;
}

.apple{
  background-color: rgb(209, 255, 207);
}
